@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Sen:wght@400;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s ease;
}

:root {
  --theme-color: #8a273b;
}

body {
  font-family: "Bebas Neue", cursive;
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

.container {
  position: relative;
  margin-top: 100px;
}

.container img {
  display: block;
  width: 100%;
}

/* NAVIGATION */

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Bebas Neue", cursive;
  padding: 0 5%;
  height: 100px;
  background-color: var(--bkg-color);
  border-bottom: 5px solid var(--theme-color);
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 45px;
  color: var(--theme-color);
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 30px;
  color: var(--theme-color);
  text-decoration: none;
}

nav .links a:hover {
  color: #ff1947;
  transition: 0.5s ease;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--theme-color);
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn-toggle {
  background-color: var(--text-color);
  color: var(--theme-color);
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 110px;

  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

/* THEME SWITCHER */

/* DARK/LIGHT MODE */

body {
  background: var(--bkg-color);
}

cite,
q,
p {
  color: var(--text-color);
}

.themes {
  padding: 20px;
  margin-top: 10px;
  display: flex;
}

.themes button {
  height: 25px;
  width: 25px;
  border: 3px solid #dddddd;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn1 {
  background-color: #8a273b;
}
.btn2 {
  background-color: #fee030;
}
.btn3 {
  background-color: #1f2944;
}
.btn4 {
  background-color: #81fe00;
}
.btn5 {
  background-color: #21b0aa;
}
.btn6 {
  background-color: #9644d6;
}

.first-head {
  color: var(--theme-color);
  font-size: 42px;
  letter-spacing: 2px;
  margin-top: -90px;
  margin-left: 230px;
}

.first-p,
.second-p {
  font-size: 20px;
  font-family: "Sen", sans-serif;
  letter-spacing: 1px;
  margin-left: 200px;
  margin-right: 50px;
}

.first-p {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 220px;
  margin-right: 50px;
}

.second-p {
  margin-left: 220px;
  margin-right: 50px;
}

#league {
  margin-left: 275px;
}

#jyp {
  margin-left: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.info-img {
  width: 25%;
  margin-top: 150px;
  margin-left: 160px;
  border-left: 5px solid var(--theme-color);
  border-top: 8px solid var(--theme-color);
}

.name,
.left-side-name,
.right-side-name {
  background-color: white;
  color: black;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  width: 25%;
  margin-left: 160px;
  margin-top: -5px;
  border: 5px solid var(--theme-color);
  border-collapse: collapse;
}

.left-side-name {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.right-side-name {
  text-align: center;
  padding: 10px;
}

.profile {
  border: 3px solid var(--theme-color);
  border-collapse: collapse;
  margin-top: -625px;
  margin-left: 497px;
  margin-right: 10px;
}

.prf-title {
  background-color: var(--theme-color);
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 25px;
}

.left-side-prf {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  text-align: center;
  border-right: 5px solid var(--theme-color);
  border-bottom: 5px solid var(--theme-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.right-side-prf {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  border-bottom: 5px solid var(--theme-color);
  padding: 10px 50px;
}

.favorites {
  border: 3px solid var(--theme-color);
  border-collapse: collapse;
  margin-top: -432.5px;
  margin-left: 850px;
  margin-right: 90px;
}

.fav-title {
  background-color: var(--theme-color);
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 25px;
}

.left-side-fav {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  text-align: center;
  border-right: 5px solid var(--theme-color);
  border-bottom: 5px solid var(--theme-color);
  padding: 10px 10px;
}

.right-side-fav {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  border-bottom: 5px solid var(--theme-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.fam-title {
  background-color: var(--theme-color);
  color: white;
  font-family: "Sen", sans-serif;
  font-size: 25px;
}

.family {
  border: 3px solid var(--theme-color);
  border-collapse: collapse;
  margin-top: -187.5px;
  margin-left: 495px;
  margin-right: 495px;
}

.right-side-fam {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  border-bottom: 5px solid var(--theme-color);
  border-right: 5px solid var(--theme-color);
  padding-left: 5px;
  padding-right: 5px;
}

.left-side-fam {
  color: black;
  background-color: white;
  font-family: "Sen", sans-serif;
  border-bottom: 5px solid var(--theme-color);
  border-right: 5px solid var(--theme-color);
  padding-left: 5px;
  padding-right: 5px;
}

.img-footer {
  margin-left: 145px;
  margin-top: 10px;
  width: 5%;
}

footer {
  margin-top: 100px;
  border-top: 5px solid var(--theme-color);
}

footer p {
  font-family: "Sen", sans-serif;
  text-align: center;
  margin-left: 50px;
}

@media screen and (max-width: 1440px) {
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
  }

  .first-p,
  .second-p {
    font-size: 18px;
    font-family: "Sen", sans-serif;
    letter-spacing: 1px;
    margin-left: 200px;
  }

  #league,
  #jyp {
    margin-top: 15px;
  }

  .info-img {
    width: 25%;
    margin-top: 170px;
    margin-left: 238px;
    border-left: 5px solid var(--theme-color);
    border-top: 8px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 25%;
    margin-left: 238px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -640px;
    margin-left: 598px;
    margin-right: 10px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 50px;
  }

  .favorites {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -432.5px;
    margin-left: 974px;
    margin-right: 90px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -155.5px;
    margin-left: 598px;
    margin-right: 466px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 5px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 1366px) {
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
  }

  .info-img {
    width: 25%;
    margin-top: 161px;
    margin-left: 298px;
    border-left: 5px solid var(--theme-color);
    border-top: 8px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 25%;
    margin-left: 298px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -632px;
    margin-left: 640px;
    margin-right: 180px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 20px;
  }

  .favorites {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -433.5px;
    margin-left: 956px;
    margin-right: 90px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -220.5px;
    margin-left: 640px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 12px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
    accent-color: var(--theme-color);
  }

  #league {
    margin-left: 235px;
  }

  #jyp {
    margin-left: 20px;
  }

  .info-img {
    width: 30%;
    margin-top: 161px;
    margin-left: 70px;
    border-left: 5px solid var(--theme-color);
    border-top: 8px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 30%;
    margin-left: 70px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    width: 30%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -579px;
    margin-left: 379px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 9px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 8px;
  }

  .favorites {
    width: 30%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-top: -433.5px;
    margin-left: 685px;
    margin-right: 83px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    width: 30%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -172.5px;
    margin-left: 378px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 12px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-size: 14px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
  }

  .img-footer {
    margin-left: 100px;
    margin-top: 10px;
    width: 5%;
  }

  footer p {
    font-family: "Sen", sans-serif;
    text-align: center;
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 30px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
    accent-color: var(--theme-color);
  }

  .first-p,
  .second-p {
    font-size: 18px;
  }

  #league {
    margin-top: 10px;
    margin-left: 205px;
    width: 60%;
  }

  #jyp {
    margin-left: 205px;
    width: 60%;
  }

  .info-img {
    width: 50%;
    margin-top: 161px;
    margin-left: 240px;
    border: 5px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 50%;
    margin-left: 240px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    width: 50%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: 2px;
    margin-left: 241px;
    margin-right: 10px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 9px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 8px;
  }

  .favorites {
    width: 50%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 1.5px;
    margin-left: 242px;
    margin-right: 108px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    width: 50%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -1.5px;
    margin-left: 242px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 12px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-size: 14px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
  }

  footer {
    margin-top: 120px;
  }

  .img-footer {
    margin-left: 80px;
    margin-top: 10px;
    width: 5%;
  }

  footer p {
    font-family: "Sen", sans-serif;
    text-align: center;
    margin-left: 60px;
  }
}

@media screen and (max-width: 425px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 30px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
    accent-color: var(--theme-color);
  }

  .themes {
    padding: 10px;
    width: 35%;
  }

  .first-head {
    font-size: 35px;
    margin-top: -75px;
    margin-left: 160px;
  }

  .first-p,
  .second-p {
    font-size: 14px;
    margin-left: 150px;
  }

  #league {
    margin-left: 145px;
    width: 50%;
  }

  #jyp {
    margin-left: 145px;
    width: 50%;
  }

  .info-img {
    width: 60%;
    margin-top: 161px;
    margin-left: 125px;
    border: 5px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 60%;
    margin-left: 124px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    width: 60%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 142px;
    margin-right: 10px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 9px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 8px;
  }

  .favorites {
    width: 60%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-top: -1px;
    margin-left: 124px;
    margin-right: 108px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    width: 50%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -1.5px;
    margin-left: 123px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 18px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-size: 12px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
  }

  .img-footer {
    margin-left: 80px;
    margin-top: 10px;
    width: 10%;
  }

  footer p {
    font-family: "Sen", sans-serif;
    text-align: center;
    margin-left: 60px;
  }
}

@media screen and (max-width: 375px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 30px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
    accent-color: var(--theme-color);
  }

  .themes {
    padding: 10px;
    width: 35%;
  }

  .first-head {
    font-size: 35px;
    margin-top: -75px;
    margin-left: 160px;
  }

  .first-p,
  .second-p {
    font-size: 10px;
    margin-left: 150px;
  }

  .info-img {
    width: 65%;
    margin-top: 43px;
    margin-left: 63px;
    border: 5px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 65%;
    margin-left: 63px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    width: 65%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 63px;
    margin-right: 10px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 9px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 8px;
  }

  .favorites {
    width: 65%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-top: -1px;
    margin-left: 63px;
    margin-right: 108px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    width: 65%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -1.5px;
    margin-left: 63px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-size: 10px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 18px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-size: 10px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 30px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
  .themes {
    padding: 20px;
    width: 100%;
  }
  .btn-toggle {
    display: grid;
    grid-template-rows: 6fr 10px;
    margin-left: 5px;
    margin-top: 110px;
    accent-color: var(--theme-color);
  }

  .themes {
    padding: 3px;
    width: 30%;
  }

  .first-head {
    font-size: 35px;
    margin-top: -75px;
    margin-left: 120px;
  }

  .first-p,
  .second-p {
    font-size: 14px;
    margin-left: 110px;
  }

  #league {
    margin-left: 95px;
    width: 65%;
  }

  #jyp {
    margin-left: 95px;
    width: 65%;
  }

  .info-img {
    width: 70%;
    margin-top: 45px;
    margin-left: 65px;
    border: 5px solid var(--theme-color);
  }

  .name,
  .left-side-name,
  .right-side-name {
    background-color: white;
    color: black;
    font-family: "Sen", sans-serif;
    font-size: 16px;
    width: 70%;
    margin-left: 65px;
    margin-top: -5px;
    border: 5px solid var(--theme-color);
  }

  .profile {
    width: 70%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: 0px;
    margin-left: 65px;
    margin-right: 10px;
  }

  .prf-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 9px;
  }

  .right-side-prf {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 8px;
  }

  .favorites {
    width: 70%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    font-size: 14px;
    margin-top: -1px;
    margin-left: 65px;
    margin-right: 108px;
  }

  .fav-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .left-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    font-weight: bold;
    text-align: center;
    border-right: 5px solid var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    padding: 10px 10px;
  }

  .right-side-fav {
    color: black;
    background-color: white;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fam-title {
    background-color: var(--theme-color);
    color: white;
    font-family: "Sen", sans-serif;
    font-size: 25px;
  }

  .family {
    width: 70%;
    border: 3px solid var(--theme-color);
    border-collapse: collapse;
    margin-top: -1.5px;
    margin-left: 65px;
  }

  .right-side-fam {
    color: black;
    background-color: white;
    font-size: 10px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
    padding-right: 18px;
  }

  .left-side-fam {
    color: black;
    background-color: white;
    font-size: 10px;
    font-family: "Sen", sans-serif;
    border-bottom: 5px solid var(--theme-color);
    border-right: 5px solid var(--theme-color);
    padding-left: 5px;
  }

  footer {
    margin-top: 100px;
  }

  .img-footer {
    margin-left: 80px;
    margin-top: 10px;
    width: 15%;
  }
}
